@mixin clearfix()
  &:before, &:after
    content: ""
    display: table

  &:after
    clear: both

@mixin placeholder($color: #000000)
  &::-webkit-input-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

.login
  width: 400px
  margin: 0 auto
  text-align: right

  .login__name
    margin-bottom: 20px
  .login__name_input, .login__password_input
    width: 100%
    padding: 10px 40px 10px 35px
    background: rgba(#fff, .2)
    border: 0 none
    color: #ffffff
    outline: none
    @include border-radius(50px)
    @include placeholder(#ffffff)

  .login__name_link, .login__password_link, .login__submit__link
    cursor: pointer
    color: #ffffff
    text-decoration: none

  .login__submit
    margin-top: 20px
    .login__submit_button
      background-color: #da7074
      @include border-radius(50px)
      height: 40px
      width: 110px
      outline: none

    .login__submit_button:disabled
      opacity: .5