html {
  width: 100%;
  height: 100%; }

body {
  height: 100%;
  background-color: transparent; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  box-sizing: border-box; }

body {
  background: fixed url("./assets/image/background.png") no-repeat;
  background-size: cover;
  color: #ffffff;
  min-width: 910px; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding: 100px;
  color: #ffffff; }
  .wrapper .header {
    width: 100%;
    margin-bottom: 50px; }
    .wrapper .header:before, .wrapper .header:after {
      content: "";
      display: table; }
    .wrapper .header:after {
      clear: both; }
    .wrapper .header .header__menu {
      float: left;
      width: 10%;
      min-width: 40px; }
      .wrapper .header .header__menu .menu {
        padding: 0;
        position: relative; }
        .wrapper .header .header__menu .menu .menu_line {
          width: 20px;
          height: 2px;
          border: 1px solid #ffffff;
          margin-bottom: 2px;
          cursor: pointer; }
        .wrapper .header .header__menu .menu .menu__container {
          display: none;
          position: absolute;
          top: 10px;
          width: 200px; }
          .wrapper .header .header__menu .menu .menu__container .menu__list {
            background-color: #da7074;
            opacity: 0.8;
            padding: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px; }
            .wrapper .header .header__menu .menu .menu__container .menu__list .menu__item {
              height: 20px;
              margin-bottom: 20px; }
              .wrapper .header .header__menu .menu .menu__container .menu__list .menu__item .menu__item_link {
                cursor: pointer;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase; }
            .wrapper .header .header__menu .menu .menu__container .menu__list .menu__item:last-child {
              margin-bottom: 0; }
      .wrapper .header .header__menu .menu:hover .menu__container {
        display: block; }
    .wrapper .header .header__nav {
      float: left;
      width: 70%; }
      .wrapper .header .header__nav .nav__list {
        height: 40px;
        width: 100%;
        display: flex;
        text-align: justify; }
        .wrapper .header .header__nav .nav__list:after {
          content: "";
          display: inline-block;
          height: 0;
          margin-right: 20px; }
        .wrapper .header .header__nav .nav__list .nav__item {
          display: inline-block;
          margin: auto;
          width: 80px;
          text-align: center; }
          .wrapper .header .header__nav .nav__list .nav__item .nav__item_link {
            cursor: pointer;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase; }
    .wrapper .header .header__search {
      float: right;
      width: 20%; }
      .wrapper .header .header__search .search {
        position: relative; }
        .wrapper .header .header__search .search .search__input {
          width: 100%;
          padding: 10px 40px 10px 35px;
          background: rgba(255, 255, 255, 0.2);
          border: 0 none;
          color: #ffffff;
          outline: none;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          border-radius: 50px; }
          .wrapper .header .header__search .search .search__input::-webkit-input-placeholder {
            color: #ffffff; }
          .wrapper .header .header__search .search .search__input:-moz-placeholder {
            color: #ffffff; }
          .wrapper .header .header__search .search .search__input::-moz-placeholder {
            color: #ffffff; }
          .wrapper .header .header__search .search .search__input:-ms-input-placeholder {
            color: #ffffff; }
        .wrapper .header .header__search .search .search__submit {
          background: url("./assets/image/search.png") 0 0 no-repeat;
          width: 16px;
          height: 16px;
          display: block;
          border: none;
          position: absolute;
          right: 18px;
          top: 50%;
          margin-top: -8px;
          padding: 0;
          outline: none; }
  .wrapper .about {
    width: 80%;
    margin: 0 auto; }
  .wrapper .contacts {
    width: 400px;
    margin: 0 auto; }
    .wrapper .contacts .contacts__item {
      margin-bottom: 20px; }
    .wrapper .contacts .contacts__item_link {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none; }
      .wrapper .contacts .contacts__item_link i {
        width: 40px; }
  .wrapper .data {
    width: 400px;
    margin: 0 auto; }
    .wrapper .data .reg__item_value, .wrapper .data .login__item_value {
      margin-left: 20px; }
  .wrapper .home {
    width: 80%;
    margin: 0 auto; }
    .wrapper .home .product__cont {
      float: left;
      width: 80px;
      text-align: center;
      margin-bottom: 20px; }
      .wrapper .home .product__cont .product__cont_link {
        cursor: pointer;
        color: #ffffff;
        text-decoration: none; }
  .wrapper .login {
    width: 400px;
    margin: 0 auto;
    text-align: right; }
    .wrapper .login .login__item {
      margin-bottom: 20px; }
    .wrapper .login .login__item_input {
      width: 100%;
      padding: 10px 40px 10px 35px;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #ffffff;
      color: #ffffff;
      outline: none;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px; }
      .wrapper .login .login__item_input::-webkit-input-placeholder {
        color: #ffffff; }
      .wrapper .login .login__item_input:-moz-placeholder {
        color: #ffffff; }
      .wrapper .login .login__item_input::-moz-placeholder {
        color: #ffffff; }
      .wrapper .login .login__item_input:-ms-input-placeholder {
        color: #ffffff; }
    .wrapper .login .login__item_input:focus {
      border: 1px solid blue;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .wrapper .login .login__item_input_error {
      border: 1px solid red;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .wrapper .login .login__item__text_link {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none; }
    .wrapper .login .login__item_error {
      height: 20px;
      color: red;
      text-align: center; }
    .wrapper .login .login__item__text_button {
      background-color: #da7074;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      height: 40px;
      width: 110px;
      outline: none; }
    .wrapper .login .login__item__text_button:disabled {
      opacity: 0.5; }
  .wrapper .lorem {
    width: 80%;
    margin: 0 auto; }
  .wrapper .reg {
    width: 400px;
    margin: 0 auto;
    text-align: right; }
    .wrapper .reg .reg__item {
      margin-bottom: 20px; }
      .wrapper .reg .reg__item .reg__item_input {
        width: 100%;
        padding: 10px 40px 10px 35px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #ffffff;
        color: #ffffff;
        outline: none;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px; }
        .wrapper .reg .reg__item .reg__item_input::-webkit-input-placeholder {
          color: #ffffff; }
        .wrapper .reg .reg__item .reg__item_input:-moz-placeholder {
          color: #ffffff; }
        .wrapper .reg .reg__item .reg__item_input::-moz-placeholder {
          color: #ffffff; }
        .wrapper .reg .reg__item .reg__item_input:-ms-input-placeholder {
          color: #ffffff; }
      .wrapper .reg .reg__item .reg__item_input:focus {
        border: 1px solid blue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .wrapper .reg .reg__item .reg__item_input_error {
        border: 1px solid red;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .wrapper .reg .reg__item .reg__item_error {
        height: 20px;
        color: red;
        text-align: center; }
      .wrapper .reg .reg__item .reg__item__submit_button {
        background-color: #da7074;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        height: 40px;
        width: 110px;
        outline: none; }
      .wrapper .reg .reg__item .reg__item__submit_button:disabled {
        opacity: 0.5; }
      .wrapper .reg .reg__item .reg__item__submit__link {
        cursor: pointer;
        color: #ffffff;
        text-decoration: none; }
  .wrapper .empty {
    height: 90px; }

.footer {
  height: 90px;
  margin-top: -90px;
  position: relative;
  font-size: 12px;
  color: #ffffff;
  font-family: Georgia, sans-serif;
  text-align: center;
  padding: 40px; }
  .footer .copyright_link {
    color: #ffffff; }

/*# sourceMappingURL=app.css.map */
