<form name="regForm" class="reg" autocomplete="on" method="post">
    <ul class="reg__list">
        <li class="reg__item">
            <input type="text" name="login" class="reg__item_input" ng-model="regFormInfo.Login" placeholder="Login" tabindex="1" required>
            <div class="reg__item_text">Login</div>
        </li>
        <li class="reg__item">
            <input type="text" name="name" class="reg__item_input"  ng-model="regFormInfo.Name"placeholder="Name" tabindex="2" required>
            <div class="reg__item_text">Name</div>
        </li>
        <li class="reg__item">
            <input type="text" name="surname" class="reg__item_input"ng-model="regFormInfo.Surname"  placeholder="Surname" tabindex="3" required>
            <div class="reg__item_text">Surname</div>
        </li>
        <li class="reg__item">
            <input type="email" name="mail" class="reg__item_input" ng-model="regFormInfo.Mail" placeholder="name@mail.com" tabindex="4" required>
            <div class="reg__item_text">E-mail</div>
        </li>
        <li class="reg__item">
            <input type="password" name="pass" class="reg__item_input" ng-model="regFormInfo.Pass" placeholder="Password" maxlength="25" tabindex="5" required>
            <div class="reg__item_text">Password</div>
        </li>
        <li class="reg__item">
            <a href="#!/data" class="reg__item__submit__link">
                <button type="submit" class="reg__item__submit_button" tabindex="6">Enter</button>
            </a>

        </li>
    </ul>
</form>
