@mixin clearfix()
  &:before, &:after
    content: ""
    display: table

  &:after
    clear: both

@mixin placeholder($color: #000000)
  &::-webkit-input-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

.reg
  width: 400px
  margin: 0 auto
  text-align: right
  .reg__item
    margin-bottom: 20px
    .reg__item_input
      width: 100%
      padding: 10px 40px 10px 35px
      background: rgba(#fff, .2)
      border: 1px solid #ffffff
      color: #ffffff
      outline: none
      @include border-radius(50px)
      @include placeholder(#ffffff)

    .reg__item_input:valid
      border: 1px solid blue
      box-shadow: 0 0 10px rgba(0,0,0,0.5)

    .reg__item_input:invalid
      border: 1px solid red
      box-shadow: 0 0 10px rgba(0,0,0,0.5)

    .reg__item__submit_button
      background-color: #da7074
      @include border-radius(50px)
      height: 40px
      width: 110px
      outline: none

form input:valid
  border: 1px solid blue

form input:invalid
  border: 1px solid red